<div style="text-align:center">
  <p>Your Gold: <input type="text" [value]="totalGold" /></p>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- CASINO -->
<div style = "padding: 20px; vertical-align: top; height: 170px; width : 170px; border: 2px solid black; display: inline-block; margin: 15px;" >
  <h3>Casino</h3>
  <p>(earns/takes) 0-50 golds</p>
  <button (click)="onClickCasino()">Find Gold!</button>
</div>
<!-- FARM -->
<div style = "padding: 20px; vertical-align: top; height: 170px; width : 170px; border: 2px solid black; display: inline-block; margin: 15px;" >
  <h3>Farm</h3>
  <p>(earns 10 - 20 golds)</p>
  <button (click)="onClickFarm()">Find Gold!</button>
</div>
<!-- HOUSE -->
<div style = "padding: 20px; vertical-align: top; height: 170px; width : 170px; border: 2px solid black; display: inline-block; margin: 15px;" >
  <h3>House</h3>
  <p>(earns 2 - 5 golds)</p>
  <button (click)="onClickHouse()">Find Gold!</button>

</div>
<!-- CAVE -->
<div style = "padding: 20px; vertical-align: top; height: 170px; width : 170px; border: 2px solid black; display: inline-block; margin: 15px;" >
  <h3>Cave</h3>
  <p>(earns 5 - 10 golds)</p>
  <button (click)="onClickCave()">Find Gold!</button>
</div>
<br>

Activities:
<br>
<div style = "padding: 10px; height: 200px; width: 600px; border: 2px solid black; overflow: auto;">
  <p *ngFor="let activity of activities">{{ activity }}</p>
</div>


